* {
    color: purple;
}



h1 {
    color: blue;
    background-color: aquamarine;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
    font-weight: bold;

}

h2 {
    color: red;
    font-size: 20px;


}

.title {
    color: brown;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

body {
    background-color: bisque;

}

p {
    font-size: 30px;
    font-weight: bold;

}

#ola {
    color: rgb(255, 0, 251);
}


/* este seletor refere-se a cor de fonte */
#id2 {
    color: rgba(21, 243, 43, 0.222);
}

.class-div {
    width: 100px;
    height: 100px;
    background-color: black;
}

