@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --dark-color: #222222;
  

  font-family: "Roboto", sans-serif;
}

body {
  margin:0;
  padding:0;
  padding-bottom: 300px;
  background-color: #927272;
  width: 100%;
  height: 100px;
  min-width: 100vw;
}
header {
  display: flex;
  justify-content: center;
  height: 130px;
  padding: 20px;
}

.container {
  display: flex;
  justify-content: space-between;
  width: 990px;
  padding: 15px;
}

.logo {
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  align-items: center;
}

nav ul,
nav li {
  list-style: none;
  margin: 0;
  padding: 0;
  color: #000000;
}

nav ul {
  display: flex;
  color: #000000;
}

nav a {
  padding: 15px;
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

nav .active a:hover {
  background-color: red;
  color: #ffffff;
}

img {
  max-width: 150px;
  max-height: 200%;
  
}

#banner {
  display: flex;
  justify-content:center;
  background-image: url("../img/banner.png");
  background-position: center;
  background-size: cover;
  height: 400px;
  box-shadow: 0px 5px 10px black;
}


.column {
flex-direction: column;
}


.banner_deadline {
  flex: 1;
}

.tittle {
  flex: 1;
  background-color: rgb(255, 0, 0);
  padding: 20px;
  text-align: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 30px;
}


.banner_options {
  height: 120px;
  background: rgb(60, 1, 1);
  display: flex;
}

.banner_options1 {
  height: 200px;
  background: rgb(0, 0, 0);
  display: flex;
}

.banner1,
.banner2,
.banner3 {
  flex: 1;
}

.banner1 {
  background-color: rgb(63, 61, 61);
  color: white;
  padding: 20px;
}

.banner2 {
  background-color: rgb(33, 33, 33);
  color: white;
  padding: 20px;
}

.banner3 {
  background-color: rgb(7, 6, 6);
  color: white;
  padding: 10px;
}

.central {
   background-color: rgb(255, 0, 0);
  color: white;
  padding: 30px;
}

.banner_title {
  font-size: 20px;
}

.banner_desc {
  font-size: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}

#geral {
  display: flex;
  justify-content: center;
}

#geral section {
  flex: 2;
}


.container_geral {
  display: flex;
  justify-content: space-between;
  width: 990px;
  padding: 15px;
}

#conteiner-video {

    display: flex;
    justify-content: center;
    background-image: url(/img/fundo-preto.png);
    padding: 10px;
    box-shadow: 0px 5px 10px black;
}


#conteiner-video h2 {
  color: rgb(99, 99, 6);
  align-items: center;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 45px;
  margin: 10px;
}


button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}


nav {
  display: none;
}

nav ul {
  list-style: none;
}


.destaque {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.destaque img {
  display: block;
  width: 67px;
}

.destaque h2 {
  font-weight: 700;
  font-size: 2.5rem;
  color: var(--dark-color);
}

.destaque ul {
  display: flex;
  gap: 15px;
}

.destaque ul li {
  list-style: none;
}



.container-cards {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.card {
  background-color: #000000;
  border-radius: 10px;

  width: 300px;
  height: 400px;

  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  color:rgb(214, 0, 0);
  padding: 20px;
}


.card1 {
  background-image: url(/img/fundo-preto.png);
  border-radius: 10px;

  width: 300px;
  height: 400px;

  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  color:rgb(200, 188, 188);
  padding: 20px;
}

.card1 img {
  width: 100%;
  height: 500px;
  border-radius: 20px;
}

.card3 {
  background-image: url(/img/fundo-preto.png);
  border-radius: 10px;

  width: 300px;
  height: 400px;

  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  color:rgb(200, 188, 188);
  padding: 20px;
}

.card3 img {
  width: 100%;
  height: 500px;
  border-radius: 20px;
}

.card img {
  width: 100%;
  height: 500px;
  border-radius: 20px;
}

.destaque h2 {
  color: rgb(99, 99, 6);
background-color: #000000cf;
border-radius: 10px;
}

.destaque {
 padding: 20px;
}



.info{
  display: flex;

  justify-content: center;

  margin-top: 20px;
  height: 100px;
  align-items: center;
}

.info-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.content h2 {
    color: #000000;
}

.info-container h2 {
  text-align: center;
}

.info-container .content{
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
 
.content div{
  text-align: start;
}
.content {
 
  width: 5px;
  height: 40px;
  padding: auto;

}


  nav {
    display: block;
  }

  nav ul {
    display: flex;
    flex-direction: row;
    gap: 15px;
  }

  .banner {
    justify-content: flex-end;
  }

  .container-cards {
    flex-direction: row;
  }


@media screen and (max-width:425px) {
  section, aside {
    width: 100%;
  }
  
}